body{
    background-color: white;
    margin-top: 0px;
}
.container{
    margin-top: 0px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}
.menuLogo{
    display: none;
}
#mobile-nav{
    display: none;
}
#myLinks{
    display: none;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 5px;
}
a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
body .p{
    font-family: Segoe UI;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 80px;
    width: 1350px;
    height: 40px;
    padding: 0px;
    text-align: center;
}
.header{
    width: 1350px;
    height: 90px;
    background-color: #ffffff;
    font-family: Segoe UI;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
}
.header img{
    width: 150px;
    height: 70px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #c8c8c8;
}
.title{
    width: 200px;
    height: 70px;
    float: left;
    font-size: 30px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.navbar{
    margin-top: 20px;
    width: 750px;
    height: 70px;
    float: right;
}
.navbar ul{
    padding-right: 0px;
}
.navbar ul li{
    font-size: 17px;
    text-align: left;
    display: inline-block;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.content{
    background: linear-gradient(rgb(255, 255, 255),#1D568B);
    width: 1350px;
    height: 800px;
    margin: auto;
}
.leftside{
    width: 800px;
    height: 720px;
    font-family: Segoe UI;
    color: rgb(0, 0, 0);
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}
.leftside .side1{
    background-color: #ffffff;
    width: 370px;
    height: 175px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-style: outset;
    box-shadow: 5px 8px #888888;
}
.leftside .side1 .txtleft{
    width: 300px;
    height: 25px;
    font-size: 24px;
    float: none;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.leftside .side1 .paraph{
    width: 300px;
    height: 100px;
    font-size: 16px;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 8px;
    float: none;
}
.leftside .side2{
    background-color: #ffffff;
    border: beige;
    width: 370px;
    height: 175px;
    margin-top: -188px;
    margin-right: 15px;
    margin-bottom: 10px;
    float: right;
    box-shadow: 5px 8px #888888;
}
.leftside .side2 .txtleft2{
    width: 300px;
    height: 25px;
    font-size: 24px;
    float: none;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.leftside .side2 .paraph2{
    width: 300px;
    height: 100px;
    font-size: 16px;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 8px;
    float: none;
}
.clear{
    clear: both;
}
.rightside{
    width: 480px;
    height: 745px;
    background-color: #e7e7e7;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.rightside .date{
    background-color: #ffffff;
    width: 450px;
    height: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
.rightside .ads{
    background-color: #ffffff;
    width: 450px;
    height: 490px;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 20px;
}
.footer{
    background-color: white;
    width: 1350px;
    height: 40px;
    margin: auto;
    border-radius: 50px;
}
.footer .f{
    width: 1350px;
    height: 20px;
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    font-family: Segoe UI;
    color: black;
    text-align: center;
}
@media screen and (max-width: 1300px)  {
    body .p{
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
        width: 100%;
        height: 40px;
        padding: 0px;
        text-align: center;
    }
    .container{
        margin-top: 0px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -8px;
    }
    .header{
        max-width: 100%;
        background-color: #ffffff;
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        border-radius: 0px;
    }
    .header img{
        width: 150px;
        height: 70px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        background-color: #c8c8c8;
    }
    .title{
        width: 25%;
        height: 70px;
        float: left;
        font-size: 20px;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .navbar{
        width: 50%;
        height: 80px;
        float: right;
        font-size: 8px;
    }
    .navbar ul{
        padding-right: 0px;
        margin-left: -50px;
    }
    .navbar ul li{
        font-size: 14px;
        text-align: left;
        display: inline-block;
        margin-right: 10px;
        margin-left: -10px;
    }
    .footer{
        background-color: white;
        width: 100%;
        height: 40px;
        margin: auto;
        border-radius: 0px;
    }
    .footer .f{
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 18px;
        margin-bottom: 0px;
        font-family: Segoe UI;
        color: black;
        text-align: center;
    }
    .content{
        background: linear-gradient(rgb(255, 255, 255),#1D568B);
        width: 100%;
        height: 800px;
        margin: auto;
    }
    .leftside{
        width: 63%;
    }
    .leftside .side1{
        width: 46%;
    }
    .leftside .side1 .txtleft{
        width: 77%;
        font-size: 1.2vw;
    }
    .leftside .side1 .paraph{
        width: 85%;
        font-size: 1.2vw;
    }
    .leftside .side2{
        width: 46%;
    }
    .leftside .side2 .txtleft2{
        width: 73%;
        font-size: 1.2vw;
    }
    .leftside .side2 .paraph2{
        width: 85%;
        font-size: 1.2vw;
    }
    .clear{
        clear: both;
    }
    .rightside{
        width: 33.5%;
    }
    .rightside .date{
        width: 92%;
    }
    .rightside .ads{
        width: 92%;
    }
}
@media screen and (max-width: 1100px){
    body .p{
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
        width: 100%;
        height: 40px;
        padding: 0px;
        text-align: center;
    }
    .container{
        margin-top: 0px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -8px;
    }
    .header{
        max-width: 100%;
        background-color: #ffffff;
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        border-radius: 0px;
    }
    .header img{
        width: 100px;
        height: 70px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        background-color: #c8c8c8;
    }
    .title{
        width: 25%;
        height: 70px;
        float: left;
        font-size: 20px;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .navbar{
        width: 50%;
        height: 80px;
        float: right;
        font-size: 10px;
    }
    .navbar ul{
        padding-right: 0px;
        margin-left: -102px;
    }
    .navbar ul li{
        font-size: 13px;
        text-align: left;
        display: inline-block;
        margin-right: 10px;
        margin-left: -10px;
    }
    .footer{
        background-color: white;
        width: 100%;
        height: 40px;
        margin: auto;
        border-radius: 0px;
    }
    .footer .f{
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 18px;
        margin-bottom: 0px;
        font-family: Segoe UI;
        color: black;
        text-align: center;
    }
    .content{
        background: linear-gradient(rgb(255, 255, 255),#1D568B);
        width: 100%;
        height: 800px;
        margin: auto;
    }
    .leftside{
        width: 63%;
    }
    .leftside .side1{
        width: 46%;
    }
    .leftside .side1 .txtleft{
        width: 77%;
        font-size: 1.2vw;
    }
    .leftside .side1 .paraph{
        width: 85%;
        font-size: 1.2vw;
    }
    .leftside .side2{
        width: 46%;
    }
    .leftside .side2 .txtleft2{
        width: 73%;
        font-size: 1.2vw;
    }
    .leftside .side2 .paraph2{
        width: 85%;
        font-size: 1.2vw;
    }
    .clear{
        clear: both;
    }
    .rightside{
        width: 32.5%;
    }
    .rightside .date{
        width: 92%;
    }
    .rightside .ads{
        width: 92%;
    }
}

@media screen and (max-width: 900px){
    body .p{
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 1px;
        width: 100%;
        height: 40px;
        padding: 0px;
        text-align: center;
    }
    .container{
        margin-top: 0px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -8px;
    }
    .header{
        max-width: 100%;
        background-color: #ffffff;
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        border-radius: 0px;
    }
    .header img{
        width: 100px;
        height: 70px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        background-color: #c8c8c8;
    }
    .title{
        width: 25%;
        height: 70px;
        float: left;
        font-size: 20px;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .navbar{
        width: 50%;
        height: 80px;
        float: right;
        font-size: 12px;
    }
    .navbar ul{
        padding-right: 0px;
        margin-left: -120px;
    }
    .navbar ul li{
        font-size: 12px;
        text-align: left;
        display: inline-block;
        margin-right: 10px;
        margin-left: -10px;
    }
    .footer{
        background-color: white;
        width: 100%;
        height: 40px;
        margin: auto;
        border-radius: 0px;
    }
    .footer .f{
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 18px;
        margin-bottom: 0px;
        font-family: Segoe UI;
        color: black;
        text-align: center;
    }
    .content{
        background: linear-gradient(rgb(255, 255, 255),#1D568B);
        width: 100%;
        height: 800px;
        margin: auto;
    }
    .leftside{
        width: 63%;
    }
    .leftside .side1{
        width: 45%;
    }
    .leftside .side1 .txtleft{
        width: 77%;
        font-size: 1.7vw;
    }
    .leftside .side1 .paraph{
        width: 85%;
        font-size: 1.4vw;
    }
    .leftside .side2{
        width: 45%;
    }
    .leftside .side2 .txtleft2{
        width: 73%;
        font-size: 1.7vw;
    }
    .leftside .side2 .paraph2{
        width: 85%;
        font-size: 1.4vw;
    }
    .clear{
        clear: both;
    }
    .rightside{
        width: 32.5%;
    }
    .rightside .date{
        width: 92%;
    }
    .rightside .ads{
        width: 92%;
    }
}

@media screen and (max-width: 800px){
    #mobile-nav{
        margin-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: block;
    }
    #myLinks{
        border-radius: 0 0 5px 5px;
    }
    #menubar .menuLogo{
        display: block;
        background-color: transparent;
        float: right;
    }
    #myLinks{
        text-align: center;
        background-color:transparent;
      }
      #myLinks a{
        background-color: black;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .container{
        margin-top: 0px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -8px;
    }
    .header{
        max-width: 100%;
        background-color: #ffffff;
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        border-radius: 0px;
    }
    .header img{
        width: 100px;
        height: 70px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        background-color: #c8c8c8;
    }
    .title{
        width: 25%;
        height: 70px;
        float: left;
        font-size: 15px;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 5px;
        display: none;
    }
    .navbar{
        width: 50%;
        height: 70px;
        float: right;
        font-size: 5px;
        display: none;
    }
    .footer{
        background-color: white;
        width: 100%;
        height: 40px;
        margin: auto;
        border-radius: 0px;
    }
    .footer .f{
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 18px;
        margin-bottom: 0px;
        font-family: Segoe UI;
        color: black;
        text-align: center;
    }
    .content{
        background: linear-gradient(rgb(255, 255, 255),#1D568B);
        width: 100%;
        height: 800px;
        margin: auto;
    }
    .leftside{
        width: 96%;
    }
    .leftside .side1{
        width: 45%;
    }
    .leftside .side1 .txtleft{
        width: 77%;
        font-size: 2.7vw;
    }
    .leftside .side1 .paraph{
        width: 85%;
        font-size: 2vw;
    }
    .leftside .side2{
        width: 45%;
    }
    .leftside .side2 .txtleft2{
        width: 73%;
        font-size: 2.7vw;
    }
    .leftside .side2 .paraph2{
        width: 85%;
        font-size: 2vw;
    }
    .clear{
        clear: both;
    }
    .rightside{
        display: none;
    }
    
}
@media screen and (max-width: 600px){
    #mobile-nav{
        margin-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: block;
    }
    #myLinks{
        border-radius: 0 0 5px 5px;
    }
    #menubar .menuLogo{
        display: block;
        background-color: transparent;
        float: right;
    }
    #myLinks{
        text-align: center;
        background-color:transparent;
      }
      #myLinks a{
        background-color: black;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .container{
        margin-top: 0px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -8px;
        text-align: center;
    }
    .header{
        max-width: 100%;
        background-color: #ffffff;
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        border-radius: 0px;
    }
    .header img{
        width: 100px;
        height: 70px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        background-color: #c8c8c8;
    }
    .title{
        width: 25%;
        height: 70px;
        float: left;
        font-size: 15px;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 5px;
        display: none;
    }
    .navbar{
        width: 50%;
        height: 70px;
        float: right;
        font-size: 5px;
        display: none;
    }
    .footer{
        background-color: white;
        width: 100%;
        height: 40px;
        margin: auto;
        border-radius: 0px;
    }
    .footer .f{
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 12px;
        margin-bottom: 0px;
        font-family: Segoe UI;
        color: black;
        text-align: center;
    }
    .content{
        background: linear-gradient(rgb(255, 255, 255),#1D568B);
        width: 100%;
        height: 1634px;
        margin: auto;
    }
    .leftside{
        width: 92%;
    }
    .leftside .side1{
        width: 92%;
        margin-bottom: 206px;
    }
    .leftside .side1 .txtleft{
        width: 77%;
        font-size: 3vw;
    }
    .leftside .side1 .paraph{
        width: 85%;
        font-size: 3vw;
    }
    .leftside .side2{
        width: 93%;
        box-shadow: 5px 8px #888888;
        background-color: #ffffff;
    }
    .leftside .side2 .txtleft2{
        width: 73%;
        font-size: 3vw;
    }
    .leftside .side2 .paraph2{
        width: 85%;
        font-size: 3vw;
    }
    .clear{
        clear: both;
    }
    .rightside{
        display: none;
    }
}
@media screen and (max-width: 416px){
    #mobile-nav{
        margin-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: block;
    }
    #myLinks{
        border-radius: 0 0 5px 5px;
    }
    #menubar .menuLogo{
        display: block;
        background-color: transparent;
        float: right;
    }
    #myLinks{
        text-align: center;
        background-color:transparent;
      }
      #myLinks a{
        background-color: black;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .container{
        margin-top: 0px;
        padding: 0px;
        margin-left: -8px;
        margin-right: -8px;
        text-align: center;
    }
    .header{
        max-width: 100%;
        background-color: #ffffff;
        font-family: Segoe UI;
        color: rgb(0, 0, 0);
        border-radius: 0px;
    }
    .header img{
        width: 100px;
        height: 70px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        background-color: #c8c8c8;
    }
    .title{
        width: 25%;
        height: 70px;
        float: left;
        font-size: 15px;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 5px;
        margin-left: 5px;
        display: none;
    }
    .navbar{
        width: 50%;
        height: 70px;
        float: right;
        font-size: 5px;
        display: none;
    }
    .footer{
        background-color: white;
        width: 100%;
        height: 40px;
        margin: auto;
        border-radius: 0px;
    }
    .footer .f{
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 12px;
        margin-bottom: 0px;
        font-family: Segoe UI;
        color: black;
        text-align: center;
    }
    .content{
        background: linear-gradient(rgb(255, 255, 255),#1D568B);
        width: 100%;
        height: 1634px;
        margin: auto;
    }
    .leftside{
        width: 92%;
    }
    .leftside .side1{
        width: 92%;
        margin-bottom: 206px;
        margin-left: 7px;
    }
    .leftside .side1 .txtleft{
        width: 77%;
        font-size: 6vw;
    }
    .leftside .side1 .paraph{
        width: 85%;
        font-size: 4vw;
    }
    .leftside .side2{
        width: 93%;
        box-shadow: 5px 8px #888888;
        background-color: #ffffff;
    }
    .leftside .side2 .txtleft2{
        width: 73%;
        font-size: 6vw;
    }
    .leftside .side2 .paraph2{
        width: 85%;
        font-size: 4vw;
    }
    .clear{
        clear: both;
    }
    .rightside{
        display: none;
    }
}

